@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-forum: "Forum", serif;
  --color-main: #536942;
}